	<div class="footer">
		<span class="copyright">&copy; SE:MO <script>document.write(new Date().getFullYear())</script></span>
		<a href="mailto:ch.yu.oasis@gmail.com" class="btn sendFeedback">피드백 보내기</a>
	</div>

  <div class="floatingChatButton">
    <i class="material-icons">chat</i>
  </div>

  <div class="container chat">
    <div class="headerContainer">
      <div class="iconContainer left closeChat"><i class="material-icons">close</i></div>
      <div class="title">CHAT</div>
      <div class="iconContainer right search"><i class="material-icons">search</i></div>
    </div>
    <div class="contentContainer">

      <div class="chatContainer">
        <div class="chatContentContainer">

          <div class="messageContainer responder">
            <div class="profileImageContainer"><i class="material-icons">tag_faces</i></div>
            <div class="messageBox">
              <div class="userTitle">
                <span>세모</span>
              </div>
              <div class="messageText">
                <p>
                  안녕하세요, 세모에요 :)<br />
                  원하는 키워드로 무엇이든 물어보세요!
                </p>
              </div>
              <div class="responseResultContainer">
                <ul class="responseList">
                  <li><a href="#" data-keyword="계절학기" onclick="app.chat.example(this)">"계절학기"</a></li>
                  <li><a href="#" data-keyword="등록금" onclick="app.chat.example(this)">"등록금"</a></li>
                  <li><a href="#" data-keyword="장학금" onclick="app.chat.example(this)">"장학금"</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="chatInputContainer">
      <input type="text" name="messageInput" placeholder="원하는 내용을 입력하세요.">
      <!-- <span class="voiceInput"><i class="material-icons">mic</i></span> -->
      <span class="send">보내기</span>
    </div>
  </div>
  </div><!-- /.innerBody -->
  </div><!-- /.outerBody -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129874515-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129874515-1');
  </script>
</body>
</html>
