<% include templates/header.ejs %>

  <div class="container contact">
    <div class="headerContainer">
      <div class="iconContainer left goHome"><i class="material-icons">home</i></div>
      <div class="title">이용문의</div>
      <div class="iconContainer right search"><i class="material-icons">search</i></div>
    </div>
    <div class="contentContainer">

      <div class="section">
        <div class="sectionTitleContainer">
          <h3 class="title">이용문의</h3>
          <p class="description">
            아래에서 SE:MO 이용문의 방법을 알려드릴게요.<br>
            우측 하단의 채팅 아이콘을 눌러 쉽게 정보를 찾아보세요 :)
          </p>
        </div>
        <div class="sectionContentContainer">
          <div class="contactContainer">
            <p class="hint">SE:MO 서비스 이용문의를 아래 이메일로 보내주세요. 여러분의 의견으로 더욱 발전하는 SE:MO가 될 수 있어요.</p>
            <ul class="contactList">
              <li>
                <span><i class="material-icons">mail_outline</i>&nbsp;<a href="mailto:ch.yu.oasis@gmail.com">ch.yu.oasis@gmail.com</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

<% include templates/footer.ejs %>